<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <body>
    <nav th:fragment="navbar">
      <span class="nav-brand">Pay My Buddy</span>
      <div class="nav-links">
        <div sec:authorize="isAuthenticated()">
          <a th:href="@{/transfer}" th:classappend="${activePage == 'transfer'} ? 'active'">Transfer</a>
          <a th:href="@{/profile}" th:classappend="${activePage  == 'profile'} ? 'active'">Profile</a>
          <a th:href="@{/connections}" th:classappend="${activePage == 'connections'} ? 'active'">Connections</a>
          <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
          </form>
        </div>
      <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}" th:unless="${isLoginPage}"> Login </a>
        <a th:href="@{/register}" th:unless="${isRegisterPage}"> Register </a>
      </div>
      </div>
    </nav>
  </body>
</html>
