<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Add a connection</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <div class="container">
  <div th:replace="~{fragments/navbar :: navbar}"></div>

  <div class="connection-wrapper">
    <form th:action="@{/connections}" method="post" class="connection-form">
      <label class="connection-label">Search for a connection</label>
      <div class="connection-row">
        <input  type="text" name="email" placeholder="Enter an email address" class="connection-input"/>
        <button type="submit" class="btn-orange">Add</button>
        <p th:if="${error}" th:text="${error}" class="error-msg"></p>
      </div>
    </form>
  </div>
  </div>
</body>
</html>
