<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <div th:replace="~{fragments/navbar :: navbar}"/>
  <div class ="auth-container">
    <div class="auth-card">
      <button class="auth-brand">Pay My Buddy</button>
      <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="E-mail"/>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit" class="btn-blue"> Login </button>
        <p class="auth-switch">No Account? <a th:href="@{/register}">Register</a></p>
      </form>
    </div>
  </div>
</body>
</html>
