<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Profile</title>
</head>

<body>
   <div th:replace="~{fragments/navbar :: navbar}"></div>
   <form th:action="@{/profile}" method="post">

     <details>
       <summary> Username  <span th:text="${profile.username}"></span> </summary>
       <input  type="text" name="username" placeholder="Username"/>
     </details>

     <details>
       <summary> E-mail  <span th:text="${profile.email}"></span> </summary>
       <input  type="text" name="email" placeholder="E-mail"/>
     </details>
       <button type="submit">Modify</button>
   </form>

   <form th:action="@{/profile/password}" method="post">

     <details>
       <summary> Password </summary>
       <input type="password" name="oldPassword" placeholder="Old password">
       <input type="password" name="newPassword" placeholder="New password">
       <button type="submit">Modify</button>
     </details>

   </form>
     <p th:if="${error}" th:text="${error}"></p>
</body>
</html>
