<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
  <div th:replace="~{fragments/navbar :: navbar}"/>
  <div class="auth-container">
    <div class="auth-card">
      <button class="auth-brand">Pay My Buddy</button>
      <form th:action="@{/register}" method="post">
        <input  type="text" name="username" placeholder="Username"/>
        <input  type="text" name="email" placeholder="E-mail"/>
        <input  type="password" name="password" placeholder="Password"/>
        <button type="submit" class="btn-blue">Register</button>
        <p th:if="${error}" th:text="${error}" class="error-msg"></p>
        <p class="auth-switch">Already have an account? <a th:href="@{/login}">Login</a></p>
      </form>
    </div>
  </div>
</body>
</html>
