<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Transfer</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<div class = "container">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <p th:if="${error}" th:text="${error}" class="error-msg"></p>

    <form th:action="@{/transfer}" method="post" class="transfer-form">
      <select name="receiverId" class="transfer-select">
            <option value="" disabled selected>Select a connection</option>
            <option th:each="connection : ${connections}"
                    th:value="${connection.id}"
                    th:text="${connection.username}">
            </option>
        </select>

        <input type="text" name="description" placeholder="Description" class="transfer-input"/>
        <input type="number" name="amount" step="0.01" placeholder="0€" class="transfer-amount"/>
        <button type="submit" class="btn-blue">Send</button>

    </form>

    <div class="transaction-box">
      <h3>My transactions</h3>
    <table class="transaction-table">
      <thead>
            <tr>
                <th>Receiver</th>
                <th>Description</th>
                <th class="text-right">Amount</th>
            </tr>
      </thead>
        <tbody>

           <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.receiverUsername}"></td>
                <td th:text="${transaction.description}"></td>
                <td th:text="${transaction.amount} + '€'" class="text-right"></td>
           </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>
